@CHARSET "UTF-8";
@charset "utf-8";
*{font-size:12px; font-family:Tahoma,Verdana,微软雅黑,新宋体}
body {
	margin: 0px;
	padding: 0px;
	font-family: Tahoma,Verdana,微软雅黑,新宋体;
}
.header_left {
	float: left;
	margin: 5px auto auto 10px;
	text-align: left;
	line-height: 40px;
	font-size: 29;
}
.header_right {
	float: right;
	margin: 5px 10px auto auto;
	text-align: right;
	line-height: 20px;
}
tr td{
	font-size:15px;
}
tr td .textbox{
	font-size:15px;
}